{% extends 'base.html' %}

{% block head %}
<title> About</title>
{% endblock %}

{% block body %}

<h1> About page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <!-- <h1>About</h1> -->
            <p>
                Hi guys, I am Joel Sathiyendra from Sri Lanka. I am a CSE undergraduate at the University of Moratuwa. I am passionate about new technologies and developing algorithms.
                I will be posting new blogs related to DSA, machine learning and data science. Happy reading!
            </p>
        </div>
    </div>
</main>

<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/joel-sathiyendra-7934391a0/" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>                            
                    <li class="list-inline-item">
                        <a href="mailto:joelsathiyendra@gmail.com">
                            <span class="fa-stack fa-lg">
                                <i class="far fa-envelope fa-stack-2x"></i>
                                <i class="fas fa-paper-plane fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>                            
                    <li class="list-inline-item">
                        <a href="https://github.com/joelsathi">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="small text-center text-muted fst-italic">Copyright &copy; Joel's Blog 2022</div>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</body>
{% endblock %}
