{% extends 'base.html' %}

{% block head %}
<title> Home</title>
{% endblock %}

{% block body %}
<br>
<h1> Home page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>
                Hey guys! I am Joel Sathiyendra.T, an undergraduate of CSE at the University of Moratuwa, Sri Lanka. Welcome to my blog!
                I am planning to write something about Data Science, Machine learning, and Data Structures and Algorithms. 
                Well, nothing much to tell at the moment other than "Happy Reading!!!".
            </p>
            <p>
                If you have any questions, please feel free to reach me out through my <a href="mailto:joelsathiyendra@gmail.com">email</a>, 
                or <a href="https://www.linkedin.com/in/joel-sathiyendra-7934391a0/">LinkedIn</a>.
            </p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">
                    Go to Posts
                    &raquo;
                </a>
            </p>
        </div>
    </div>
</main>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</body>
{% endblock %}
